<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Syntax Squad</title>
    <link rel="stylesheet" href="assets/css/styles.css" />
    <!-- Icons (e.g., Remix Icons) -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <header class="navbar">
      <div class="container">
        <h1 class="logo"><a href="/home"> Syntax Squad</a></h1>
        <nav>
          <ul class="nav-links">
            <li>
              <a href="/cart"><i class="ri-shopping-cart-line"></i> Cart</a>
            </li>
              <li>
                  <a href="/"><i ></i> Log out</a>
              </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Hero Section -->
    <section class="hero">
      <div class="container">
        <h2 class="hero-title">Welcome to Syntax Squad</h2>
      </div>
    </section >
    <section class="courses" th:if="${!courses.isEmpty()}">
        <h2 class="course-title">Enrolled Courses</h2>
      <div class="course-container">

        <div class="course-card" th:each="course: ${courses}">
          <img src th:src="@{'/image/' + ${course.getId()}}" alt th:alt="${course.getTitle()}" />
          <div class="content-wrapper">
            <h3 th:text="${course.getTitle()}"></h3>
            <p th:text="${course.getDescription()}">
<!--              Explore C++ course that covers skills in object-oriented programming, performance optimization, and system-level development-->
            </p>
            <p>
              price: <span th:text="'$'+${course.getPrice()}"></span>
            </p>
            </p>
          </div>
          <div class="btn-container">
<!--            <a href th:href="@{'/cart/'+${course.getId()}}" class="btn">Add to Cart</a>-->
            <a href th:href="@{'/details/'+${course.getId()}}" class="btn">View Details</a>
          </div>
        </div>

      </div>

    </section>
    <hr>
    <section class="courses">
        <h2 class="course-title">unEnrolled Courses</h2>
        <div class="course-container">
            <div class="course-card" th:each="notEnroll: ${notE}">
                <img src th:src="@{'/image/' + ${notEnroll.getId()}}" alt th:alt="${notEnroll.getTitle()}" />
                <div class="content-wrapper">
                    <h3 th:text="${notEnroll.getTitle()}"></h3>
                    <p th:text="${notEnroll.getDescription()}">
                        <!--              Explore C++ course that covers skills in object-oriented programming, performance optimization, and system-level development-->
                    </p>
                    <p>
                        price: <span th:text="'$'+${notEnroll.getPrice()}"></span>
                    </p>
                    </p>
                </div>
                <div class="btn-container">
                    <a href th:href="@{'/cart/'+${notEnroll.getId()}}" class="btn">Add to Cart</a>
                    <a href th:href="@{'/details/'+${notEnroll.getId()}}" class="btn">View Details</a>
                </div>
            </div>
        </div>
        <footer>
            <div style="width: 100%; background-color: #333; color: #fff; padding: 20px; border-radius: 10px; box-sizing: border-box; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); text-align: center;">
                <div style="margin-bottom: 20px;">
                    <p style="margin: 10px 0; line-height: 1.6;">We start live sessions every week on this Discord link.</p>
                    <p style="margin: 10px 0; line-height: 1.6;">You should enter this Discord: <a href="https://discord.gg/rpVuUwW4" target="_blank" style="color: #00bfff; text-decoration: none; font-weight: bold;">Discord</a></p>
                    <p style="margin: 10px 0; line-height: 1.6;">If you are not familiar with Discord, you can join this Google Meet instead: <a href="https://meet.google.com/vpp-zupg-juf" target="_blank" style="color: #00bfff; text-decoration: none; font-weight: bold;">Google Meet</a></p>
                </div>
                <div>
                    <p style="margin: 10px 0; line-height: 1.6;">Don't forget to join our WhatsApp group to get notifications and stay up-to-date: <a href="https://chat.whatsapp.com/LdkT94po6qAIWbh4Ahe2AE" target="_blank" style="color: #00bfff; text-decoration: none; font-weight: bold;">WhatsApp</a></p>
                </div>
            </div>
        </footer>




    </section>
    <script th:if="${alertMessage}" th:inline="javascript">
        alert([[${alertMessage}]]);
    </script>
    <script th:if="${recoveryKey}" th:inline="javascript">
        alert('your recovery key is: '+[[${recoveryKey}]]);
    </script>
  </body>
</html>
